section p {
    color: #fefee2;
    text-align: justify;
}
h1 {
    grid-area: title;
    text-align: center;
    font-size: 6em;
    text-shadow: black 1.5px 1.5px 1.5px;
    font-family: "Rye";
    color: #D4AF37;
}
section img{
    border: 3px solid #D4AF37;
}
article{
    display: flex;
    justify-content: center;
}
.container {
    display: grid;
}

.article1 {
    grid-area: article1;  
}
.article2 {
    grid-area: article2;  
}
.article3 {
    grid-area: article3;  
}


@media screen and (max-width: 480px){
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "title"
        "article1"
        "article2"
        "article3"
        ;
    }
    article{
        width: 100%;
        flex-direction: column;
    }
    
}

@media screen and (min-width: 481px){
    .container {
        grid-template-columns: 1fr;
        grid-template-rows:  1fr ;
        grid-template-areas: 
        "title"
        "article1"
        "article2"
        "article3"
        ;
    }
    article{
        width: 100%;
        flex-direction: column;
    }

}
@media screen and (min-width: 769px){
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "title"
        "article1"
        "article2"
        "article3"
        ;
    }
    article{
        width: 100%;
        flex-direction: row;
    }

    
}
@media screen and (min-width: 1280px){
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        ". title title ."
        "article1"
        "article2"
        "article3"
        ;
    }
    article{
        width: 100%;
        flex-direction: row;
        text-align: justify;
        background-color: rgba(184, 115, 51, 0.5);
        border-top: 2px solid #D4AF37;
        border-bottom: 2px solid #D4AF37;
        margin-bottom: 2%;
    }
    section img{
        width: 464 px;
        height: 464px;
        margin-top: 5px;
    }
    section p {
        text-align: justify;
        width: 60%;
        height: 440px;
        font-size: 1.8rem;
        margin: auto;
    }
}



