.prices { /*            Main container              */
    display: flex;
    flex-direction: column;
}

.prices h1, ul{
    margin: auto;
    padding-top: 2.5%;
}
.prices h1 {
    text-shadow: black 1.5px 1.5px 1.5px;
    font-family: "Rye";
    color: #D4AF37;
}


/*          Prices List Design          */

.prices ul{
    margin-bottom: 3%;
}

.prices p {
    color: #fefee2;
}

.prices li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10%;
    padding-bottom: 3%;
    list-style: none;
    border-bottom: 1px dashed #D4AF37;
}

.prices .puce_list { /*             Svg ico in List             */
    width: 30px;
    height: 30px;
    padding-right: 3%;
}

.prices .divider{
    margin-left: 10%;
    font-weight: bold;
    color: #D4AF37;
}


/*          Prices List Design End         */
@media screen and (min-width: 480px){
    .prices h1 {
        font-size: 48px;
    }
    .prices p {
        font-size: 1rem;
    }
    .price{ /*          Price paragraph             */
        padding-left: 5vh;
    }
    .caption {
        width: 15vh;
    }

}

@media screen and (min-width: 481px){
    .prices h1 {
        font-size: 5em;
    }
    .prices p {
        font-size: 1.4rem;
    }
    .price{ /*          Price paragraph             */
        padding-left: 10vh;
    }
    .caption {
        width: 30vh;
    }
}


@media screen and (min-width: 769px){
    .prices h1 {
        font-size: 6em;
    }
    .prices p {
        font-size: 1.4rem;
    }
    .price{ /*          Price paragraph             */
        padding-left: 20vh;
    }
    .caption {
        width: 30vh;
    }
}


@media screen and (min-width: 1280px){
    .prices h1 {
        font-size: 6em;
    }
    .prices p {
        font-size: 1.4rem;
    }
    .price{ /*          Price paragraph             */
        padding-left: 20vh;
    }
    .caption {
        width: 30vh;
    }
}