*{
    margin: 0%;
    padding: 0%;

}
html{
    width: 100%;
    font-family: 'NTR', sans-serif;
}
main {
    max-width: 100%;
    background-image: url("../img/wooden-background.jpg");
    background-attachment: fixed;
}
body{
    background-image: url("../img/wooden-background.jpg");
    background-attachment: fixed;
}



